{% extends "project/webmagasin/base.html" %} {% block content %}

<div id="omMagasinet" class="section section scrollspy">
    <div class="container row">
        <h3 class="center black-text">Om Magasinet</h3>
        <p class="center">
            TechMag er et gratis elektronisk magasin om Teknik, Biologi og Sundhed, Kultur og Design. Magasinet er udarbejdet af 3. års elever fra Aarhus Gymnasium og udgives under studieområdeforløb 13 - som et tværfagligt projekt mellem teknikfagene på årgangen. Under forløbet har eleverne været på virksomhedsbesøg med deres teknikfag, hvor de har fået indblik i hvordan fagene spiller sammen med den virkelige verden.
        </p>
        <p class="center">
            Magasinet tager udgangspunkt i verdenen anno 2017 og indeholder viden om Teknik, Biologi, Sundhed, Kultur og Design. Målgruppen for TechMag er defineret voksne interesserede ikke-eksperter, altså voksne fra 18+ som ikke har en høj faglig viden om emnerne som TechMag tager op. Vi ønsker altså at skabe en platform for ikke-eksperter som søger generel såvel som mere specifik viden om den verden vi lever.

        </p>
    </div>
</div>

<div class="section container row">
    <img src="/static/project/webmagasin/redaktionen.jpg" width="100%" class="materialboxed">
</div>


<div class="section container row">
    <h4 class="center-align">Redaktionen</h4>
    <ul class="collection col s12 m4">
        <li class="collection-item avatar">
          <i class="material-icons circle green darken-1">perm_identity</i>
          <span class="title">Haseb Badloon</span>
          <p>Redaktør<br>
             Digital Interaktion
          </p>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle red darken-2">perm_identity</i>
          <span class="title">Mathias Juhl</span>
          <p>Webdesigner<br>
             Digital Interaktion
          </p>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle amber">perm_identity</i>
          <span class="title">Henrik Hedegaard</span>
          <p>Journalist<br>
             Robotteknologi
          </p>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle amber">perm_identity</i>
          <span class="title">Henriette Elena Sørensen</span>
          <p>Journalist<br>
             Digital Interaktion
          </p>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle amber">perm_identity</i>
          <span class="title">Tobias Nygård Bech</span>
          <p>Journalist<br>
             Robotteknologi
          </p>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle amber">perm_identity</i>
          <span class="title">Sara Bilgin</span>
          <p>Journalist<br>
             Arkitektur og Rum
          </p>
        </li>
    </ul>  
    <ul class="collection col s12 m4">
        <li class="collection-item avatar">
          <i class="material-icons circle green darken-1">perm_identity</i>
          <span class="title">Rikke Hankil</span>
          <p>Redaktør<br>
             Arkitektur og Rum
          </p>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle red darken-2">perm_identity</i>
          <span class="title">Bjarke Nilsson</span>
          <p>Webdesigner<br>
             Robotteknologi
          </p>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle amber">perm_identity</i>
          <span class="title">Nourman Amirzai</span>
          <p>Journalist<br>
             Arkitektur og Rum
          </p>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle amber">perm_identity</i>
          <span class="title">Mark Haurum Kristensen</span>
          <p>Journalist<br>
             Bygning og Energi
          </p>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle amber">perm_identity</i>
          <span class="title">Thomas Dinesen</span>
          <p>Journalist<br>
             Sundhed og Livsstil
          </p>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle amber">perm_identity</i>
          <span class="title">Simon Blach</span>
          <p>Journalist<br>
             Digital Interaktion
          </p>
        </li>
    </ul>
    <ul class="collection col s12 m4">
        <li class="collection-item avatar">
          <i class="material-icons circle green darken-1">perm_identity</i>
          <span class="title">Abdallah Ajjawi</span>
          <p>Chefredaktør<br>
             Elektronik
          </p>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle red darken-2">perm_identity</i>
          <span class="title">Kabwe Autriche Sango</span>
          <p>Webdesigner<br>
             Digital Interaktion
          </p>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle amber">perm_identity</i>
          <span class="title">Victor Aagaard</span>
          <p>Journalist<br>
             Bioteknologi
          </p>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle amber">perm_identity</i>
          <span class="title">Markus Sørensen</span>
          <p>Journalist<br>
             Sundhed og Livsstil
          </p>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle amber">perm_identity</i>
          <span class="title">Sebastian K. Friis</span>
          <p>Journalist<br>
             Design
          </p>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle amber">perm_identity</i>
          <span class="title">Zakaria Banouri</span>
          <p>Journalist<br>
             Elektronik
          </p>
        </li>
    </ul>    
</div>

{% endblock %}