@import url(https://fonts.googleapis.com/css?family=Vollkorn);
@import url(https://fonts.googleapis.com/css?family=Baloo+Bhai);

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Vollkorn', serif;
    height: 100%;
    background: url("/static/project/patienten/bg.png");
}

#main {
    z-index: -999999;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-right: auto;
    margin-left: auto;
    background-color: #E84A5F;
    color: white;
    text-align: center;
    padding: 10px;
    height: 150pt;
    z-index: 6;
}

    nav #title {
        font-size: 36pt;
        display: inline-block;
        margin-right: 150pt;
        font-weight: bold;
    }

    nav #author {
        margin-top: 40pt;
        display: block;
        font-size: 32pt;
        font-style: italic;
    }

    nav ul {
        display: inline-block;
    }

    nav li {
        list-style: none;
        display: inline-block;
        margin: 5pt 10pt;
        padding: 5pt;
        border: 1px solid white;
    }

p {
    margin: 10pt auto;
    font-size: 14pt;
    text-shadow: 0.2px 0.2px 0.5px rgba(0, 0, 0, 0.5);
    color: #2A363B;
}

#about, #perioden {
    margin-top: 150pt;
    padding-top: 100pt;
    padding-left: 20pt;
    padding-right: 20pt;
}

    #about .panel {
        background-color: rgba(0, 0, 0, 0.05);
        padding: 10pt 15pt;
        border-radius: 5px;
        overflow: hidden;
        width: 80%;
        margin: auto;
    }

#peter {
    width: 400pt;
    height: auto;
    border-radius: 5px;
    margin-right: 15pt;
    margin-top: 15pt;
    clear: left;
    float: left;
}

.analimg2 {
    height: 300px;
}

.analimg {
    width: 400px;
    height: auto;
    border-radius: 5px;
    margin-right: 15pt;
    margin-top: 15pt;
    clear: right;
    float: right;
}

.content {
    height: 100vh;
}

.button {
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 4px;
    position: relative;
    background-color: #E84A5F;
    border: none;
    color: #fff;
    padding: 10px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    overflow: hidden;
    box-shadow: 0 1px 5px #193047;
}

    .button:hover {
        background: #fff;
        box-shadow: 1px 1px 5px 2.5px #FF8470;
        color: #000;
    }

    .button:after {
        content: "";
        background: #FF8470;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px !important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s;
    }

    .button:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s;
    }

    .button:focus {
        outline: 0;
    }

.letter {
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin: 26px auto 0;
    max-width: 550px;
    min-height: 200px;
    padding: 24px;
    position: relative;
    width: 80%;
    text-align: left;
}

    .letter:before, .letter:after {
        content: "";
        height: 98%;
        position: absolute;
        width: 100%;
        z-index: -1;
    }

    .letter:before {
        background: #fafafa;
        box-shadow: 0 0 8px rgba(0,0,0,0.2);
        left: -5px;
        top: 4px;
        transform: rotate(-2.5deg);
    }

    .letter:after {
        background: #f6f6f6;
        box-shadow: 0 0 3px rgba(0,0,0,0.2);
        right: -3px;
        top: 1px;
        transform: rotate(1.4deg);
    }

    .letter span {
        color: rgba(0, 0, 0, 0.5);
        font-size: 9pt;
        font-style: italic;
        font-weight: bold;
    }
        .letter span:before {
            content: '\00b6';
            font-size: 11pt;
            font-style: normal;
        }

    .letter em {
        color: #E84A5F;
    }
        .letter em:after {
            content: '\00ab';
        }

        .letter em:before {
            content: '\00bb';
        }

    .letter p {
        font-size: 12pt;
        color: #1b1b1b;
        margin: 2pt auto;
    }

        .letter p:before, .letter p:after {
            content: '\00ba\00ba\00ba';
            margin: 4pt auto;
            display:block;
            text-align: center;
        }

#analysebutton {
    width: 300pt;
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    margin: auto;
}

#analyse {
    position: relative;
    background: #2A363B;
    color: #E84A5F;
}

#analyseContainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 4;
    padding-top: 80pt;
}

    #analyseContainer .deck-container {
        background: #2A363B;
        color: white;
    }

        #analyseContainer .deck-container .info {
            color: #E84A5F;
        }

        #analyseContainer .deck-container section {
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: #2A363B;
            color: white !important;
            /*text-align: auto;*/
        }

            #analyseContainer .deck-container section .analcontent {
                margin: auto;
                width: 80%;
            }

                #analyseContainer .deck-container section .analcontent ul {
                    font-size: 21pt;
                }

                    #analyseContainer .deck-container section .analcontent ul li {
                        margin: 20pt 0;
                    }

            #analyseContainer .deck-container section h2 {
                color: white;
                text-decoration: none;
                font-size: 36pt;
                text-align: center;
                margin-top: 5pt;
            }

#quizbox {
    text-align: center;
    padding: 50pt;
}

    #quizbox p {
        color: #E84A5F;
    }

#modal {
    text-align: left;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

#quizmodal {
    font-family: 'Baloo Bhai', cursive !important;
    margin: 10% auto;
    background-color: white;
    width: 60%;
    padding: 20pt;
}


    #quizmodal .button {
        margin: 5pt;
        width: 100pt;
        display: inline-block;
        font-size: 16px;
    }

    #quizmodal ul {
        margin-bottom: 10pt;
        font-size: 15px;
    }

        #quizmodal ul label {
            padding-left: 10pt;
        }


#load {
    top: 0;
    position: absolute;
    text-align: center;
    background-color: #1b1b1b;
    min-width: 100%;
    min-height: 100%;
    content: '';
    z-index: 999999;
}

    #load .patienten {
        position: absolute;
        left: 0;
        right: 0;
        margin-top: 2%;
        margin-right: auto;
        margin-left: auto;
    }

.heart {
    fill: red;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    width: 100px;
    animation: pulse 1s ease infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

li {
    list-style: none;
    margin: 4pt;
}
