body {
	background-color: #2c3e50;
}

/* @font-face {
	font-family: "Quicksand";
	src: url("/fonts/Quicksand-Regular.otf") format("opentype");
}

@font-face {
	font-family: "QuicksandBold";
	src: url("/fonts/Quicksand-Bold.otf") format("opentype");
} */

#header {
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	position: absolute;
	top: 0;
	width: 900px;
	height: 50px;
	background-color: #2ecc71;
	text-align: center;
	color: white;
	font-size: 31px;
	font-family: "QuicksandBold";
}

#main {
	background-color: white;
	width: 900px;
	min-height: 400px;
	margin: auto;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
}

table {
	position: relative;
	top: 120px;
	margin: auto;
	width: 800px;
	color: #2ecc71;
	font-size: 38px;
	text-align: left;
}