<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content='width=device-width, initial-scale=1' name='viewport' />
    <title>patienten</title>
    <link type="text/css" rel="stylesheet" href="/static/project/patienten/style.css" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/project/patienten/misc.js"></script>
</head>
<body>
    <div id="load">
        <canvas width=250>
        </canvas>
    </div>
    <section>
        <div id="quizbox">
            <h1>Dette er en quiz xDDDDDDDDD :3</h1>
        <div id='quiz'></div>
            <a href='#'><div class='button' id='next'>Næste</div></a>
            <a href='#'><div class='button' id='prev'>Tilbage</div></a>
            <a href='#'><div class='button' id='start'>Genstart</div></a>
        </div>
    </section>
</body>
</html>