<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content='width=device-width, initial-scale=1' name='viewport' />
    <title>patienten</title>
    <link type="text/css" rel="stylesheet" href="/static/project/patienten/style.css" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8" src="/static/project/patienten/misc.js"></script>
    <script type="text/javascript" src=http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>

    <!--Adobe Edge Runtime-->
    <script type="text/javascript" charset="utf-8" src="http://animate.adobe.com/runtime/6.0.0/edge.6.0.0.min.js"></script>
    <style>
        .edgeLoad-patienten {
            visibility: hidden;
        }
    </style>
    <script>
        AdobeEdge.loadComposition('/static/project/patienten/PatientenAfPeterSeeberg', 'patienten', {
    scaleToFit: "none",
    centerStage: "none",
    minW: "0px",
    maxW: "undefined",
    width: "303px",
    height: "400px"
}, {"dom":{}}, {"dom":{}});
    </script>
    <!--Adobe Edge Runtime End-->
</head>
<body>
    <div id="load">
        <div id="Stage" class="patienten">
        </div>
        <svg class="heart" viewBox="0 0 32 29.6">
            <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
    c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z" />
        </svg> 
        <canvas width=250>
        </canvas>
    </div>
    <section>
        <nav id="head" class="fixed">
            <span id="title">Patienten</span>
            <ul>
                <li>Om forfatter</li>
                <li>Analysen</li>
                <li>Quiz</li>
            </ul>
            <span id="author">af Peter Seeberg</span>
        </nav>
        <div id="about">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel sollicitudin quam. Curabitur quis elit id sapien ullamcorper sagittis efficitur non nunc. Vestibulum non turpis elementum, aliquam leo id, euismod purus. Quisque faucibus est ac sapien pulvinar, in tincidunt turpis faucibus. Nullam imperdiet eleifend commodo. Aenean ut auctor diam. Etiam ac sem felis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam malesuada arcu et urna interdum fermentum. Aliquam erat volutpat. Ut magna lectus, rhoncus vitae urna sit amet, tincidunt aliquam lorem. Nunc ornare porta eros in mattis. Aliquam eget efficitur lacus. Pellentesque turpis lorem, pellentesque eu purus non, eleifend bibendum lectus.

            Suspendisse quis ipsum semper, molestie leo nec, imperdiet velit. Integer scelerisque feugiat aliquet. Mauris finibus accumsan fermentum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque feugiat non metus id congue. Nam mi sapien, elementum in dolor in, commodo tincidunt nulla. Donec bibendum, orci quis accumsan sodales, metus libero lacinia ipsum, nec rutrum dui arcu nec turpis.

            Nulla dictum mattis metus, eget hendrerit sem volutpat at. Sed quam ipsum, dapibus ac congue eget, semper sit amet nisl. Morbi vitae feugiat purus. In aliquam posuere velit ac ultricies. Proin faucibus maximus justo eu sollicitudin. Phasellus convallis mi sit amet lorem porta auctor. Curabitur porta lectus sit amet arcu viverra fringilla. In est enim, egestas sed tincidunt vel, laoreet fringilla mauris. Aenean congue, mauris sit amet euismod aliquam, justo tellus fringilla enim, id dapibus leo felis at elit. Vestibulum porta pulvinar dolor non facilisis. Curabitur eu mi diam. Maecenas sit amet augue diam. Nullam elementum mi a lorem feugiat hendrerit. Aenean id aliquet nibh.

            Aliquam imperdiet nunc at nulla egestas, congue venenatis dui vestibulum. Morbi mattis elementum tortor. Sed non commodo dui. Sed iaculis convallis elit id malesuada. Ut congue diam a enim tincidunt, quis consectetur nibh fermentum. Etiam quis pharetra nunc. Ut in tempor nisi. Vivamus quis metus et lectus malesuada pharetra. Maecenas maximus mauris et mi tincidunt, vestibulum bibendum est vestibulum. Fusce eu turpis vel nunc malesuada dapibus. Mauris iaculis gravida est eu egestas. Nulla sit amet leo id ex vehicula lacinia at sit amet sapien. Phasellus pellentesque vel quam at suscipit. In viverra id lacus non lobortis. Cras non lacinia nisi, vitae pulvinar ante. Sed ultrices facilisis odio, a dignissim nibh convallis vitae.

            Nulla id maximus magna, non accumsan orci. Aenean venenatis, est ut porttitor rhoncus, justo orci lobortis diam, vitae tempor libero lorem eu libero. Cras vel libero purus. Phasellus sit amet velit nulla. Curabitur cursus malesuada metus, non consectetur arcu dignissim vel. Cras a commodo tortor, vitae ultrices arcu. Pellentesque lectus orci, imperdiet sollicitudin ante eget, placerat porta lacus. Donec fermentum id orci maximus vulputate. Pellentesque tempus metus at velit ornare malesuada. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur efficitur sed odio cursus molestie. Maecenas ullamcorper gravida risus, sed pellentesque nulla vulputate quis. Phasellus at pharetra lorem.

            Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer velit lorem, porttitor quis nisi a, accumsan laoreet quam. Nullam quis iaculis nibh. Nullam suscipit quis orci sed pellentesque. Vivamus vulputate id elit dictum mattis. Curabitur ut lectus in justo interdum rutrum sit amet a turpis. Morbi scelerisque semper nisi a sollicitudin. Duis efficitur dui eget magna finibus molestie.

            Ut venenatis lacus justo, vel lobortis nunc cursus eu. Nulla ipsum nulla, dignissim non elementum eget, pulvinar a arcu. Nunc at enim elementum, molestie felis nec, imperdiet lacus. Curabitur arcu purus, finibus et felis nec, molestie sagittis justo. Vestibulum quis justo libero. Curabitur pharetra nec odio vitae porta. Nunc finibus cursus purus. Sed eu est id est bibendum accumsan. Suspendisse at molestie leo, sed blandit felis.

            Quisque at lorem felis. Etiam feugiat metus a quam gravida, ut egestas ante imperdiet. Aenean non malesuada tortor. Aenean ac justo ex. Suspendisse quis faucibus neque. Proin eget dignissim nisl. Suspendisse quis ultricies ipsum, in aliquet libero. Phasellus lobortis dui nulla, sit amet pulvinar nisi facilisis id. Nulla feugiat nisl a cursus aliquam. Suspendisse at vehicula dolor. Fusce sed commodo tortor, nec facilisis ex. Sed sem quam, euismod id nisi vel, mollis tincidunt nunc. Etiam id imperdiet ipsum, sed consequat ligula. Praesent lorem leo, laoreet non molestie suscipit, finibus faucibus diam. Aliquam quis purus a ligula egestas euismod.

            Morbi laoreet mi enim, quis aliquet est blandit in. Morbi tincidunt ipsum et arcu cursus, id scelerisque purus congue. Vivamus lacinia nibh quis maximus egestas. Sed molestie felis ac odio consequat, a maximus sem convallis. Ut at condimentum mauris. Morbi posuere molestie nulla, sed finibus nulla molestie ac. Aliquam commodo ligula ut arcu accumsan placerat.

            Vestibulum faucibus, nisi at accumsan vulputate, justo sapien consequat ipsum, et vehicula justo neque eget tortor. Proin massa turpis, interdum sed nunc in, dapibus ultricies tellus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus tincidunt pretium hendrerit. Nam interdum rutrum elementum. Morbi sed justo facilisis massa vulputate mattis rutrum non ante. Praesent accumsan fringilla quam, vitae tincidunt odio condimentum sit amet. Fusce dapibus vel justo at blandit. Nullam non blandit dolor. Suspendisse pretium purus eu est finibus mattis. Ut pharetra turpis non ipsum efficitur convallis. Etiam nec laoreet arcu, bibendum suscipit tortor. Praesent blandit libero at feugiat elementum. Pellentesque molestie odio a nisi fringilla, nec vehicula ex volutpat.

            Pellentesque quis ante ipsum. Nulla tincidunt molestie orci, a aliquet velit consectetur sit amet. Integer luctus dictum libero vitae interdum. Aenean consectetur augue varius bibendum euismod. Pellentesque bibendum sollicitudin lectus sed iaculis. Fusce tincidunt tortor quis tortor pretium vulputate eget vestibulum erat. Quisque vel turpis mauris. Curabitur pretium ligula convallis bibendum vestibulum. Vivamus in magna commodo, congue ipsum ut, pellentesque felis. Aliquam lacus lectus, ornare et nisl sit amet, ornare pellentesque lectus. Vivamus ut risus rhoncus, auctor ipsum eu, fringilla ante. Morbi tellus purus, ultrices id volutpat vitae, maximus ac eros. In varius sem mauris. Nulla facilisi. Aenean condimentum est ut vestibulum convallis.

            Nunc sit amet nisl vitae arcu aliquam feugiat sed sit amet dolor. Proin dictum ante nec leo pretium, eget hendrerit massa scelerisque. Donec consequat, ipsum ac faucibus finibus, lacus mauris rutrum eros, eget malesuada enim augue vel nibh. Nullam dapibus risus quis leo sodales volutpat. Integer enim tellus, tristique non sollicitudin sit amet, tempus vel turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus nec purus porttitor, viverra odio eget, molestie lacus. Integer ultricies ultrices nunc, tempus commodo nisl finibus et. Cras dignissim augue a dolor dignissim, in facilisis metus rutrum. Aenean pharetra orci at rhoncus efficitur. Fusce ac sem enim. Donec non purus nunc. Praesent id massa non elit facilisis facilisis et accumsan ante. Nam imperdiet nisi ac finibus sollicitudin. Interdum et malesuada fames ac ante ipsum primis in faucibus.

            Vivamus vel consequat ligula. Ut vehicula risus vitae arcu dapibus, a commodo lorem molestie. Donec dapibus nec ante eget volutpat. Phasellus ullamcorper nisi sed ex pharetra posuere. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam ante sem, convallis et neque id, euismod gravida elit. Vestibulum eleifend id sem aliquam maximus.

            In molestie ex vel dolor pharetra, a dictum ante aliquam. Curabitur efficitur commodo egestas. Ut ut tincidunt elit, mollis condimentum elit. Donec aliquet massa at nulla auctor accumsan. Integer iaculis imperdiet sapien, aliquet luctus diam pharetra nec. Fusce convallis ornare nulla, sed sodales tortor fringilla nec. Ut neque risus, facilisis et pretium ut, volutpat eu purus. Ut vitae erat consectetur, sollicitudin elit faucibus, imperdiet diam. Proin dignissim, erat a facilisis imperdiet, neque libero aliquet diam, quis tempor tellus velit id sapien.

            Curabitur vel pellentesque arcu. Integer cursus sit amet sapien eu feugiat. Cras elementum turpis leo, at pharetra lacus varius vel. Duis et nulla elit. Mauris dictum erat in justo sagittis pretium. Praesent porta condimentum risus, id imperdiet turpis efficitur eu. Proin in tortor pretium velit pulvinar imperdiet non quis est. Nullam malesuada eu metus eu tincidunt. Donec quis auctor dolor, vel blandit nunc.

            Etiam vestibulum sapien eget leo facilisis, sit amet elementum turpis condimentum. Curabitur elementum felis ultrices metus luctus, non vulputate tortor tristique. Mauris bibendum quam sit amet lacus luctus sagittis. Duis at lacus condimentum, gravida elit vitae, feugiat nulla. Aenean pellentesque semper tortor eleifend hendrerit. Integer at ipsum at erat tristique mollis. Nunc faucibus nisl urna, nec feugiat nisl rutrum in. Curabitur tincidunt, dolor vel posuere vestibulum, erat eros rutrum nulla, vestibulum vehicula felis eros sed felis.

            Etiam et orci quis augue sagittis pulvinar. Aliquam at lacus maximus, hendrerit velit non, dapibus nibh. Sed et dui in tellus maximus pulvinar nec vitae leo. Suspendisse pretium scelerisque placerat. In sodales, quam a bibendum lobortis, erat purus consectetur nunc, id malesuada nulla diam et est. Vivamus commodo, ipsum et suscipit molestie, diam diam volutpat nisi, tristique aliquet mi mauris nec nisi. Etiam pulvinar massa vel eleifend tristique. Pellentesque quis scelerisque urna. In hac habitasse platea dictumst. Aenean mattis convallis efficitur. In quam orci, porttitor a suscipit vel, ullamcorper ac ligula. Aenean condimentum, felis sit amet vulputate ornare, dui tortor fringilla nunc, blandit tincidunt nunc quam eleifend nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus vitae faucibus enim. Donec aliquet lacus et suscipit pretium.

            Sed non vehicula neque, in auctor ex. Vestibulum placerat tellus sed nisi fringilla dictum. Aenean quis ullamcorper sem, eu ultrices diam. Duis ultricies luctus malesuada. Mauris interdum turpis sed lorem accumsan vestibulum. Nunc sollicitudin placerat nisl et consectetur. Morbi nec fermentum nunc.

            Morbi mollis, neque in interdum congue, libero tellus auctor orci, in efficitur tellus elit sit amet leo. Donec ultrices metus id massa congue vehicula. Fusce sed augue aliquam, tincidunt lacus vitae, interdum enim. Maecenas fermentum lorem vitae sollicitudin lobortis. Aliquam placerat dolor at nunc gravida placerat. Suspendisse ac dolor odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque mattis velit egestas lacus lobortis, nec suscipit neque mattis. Curabitur mauris purus, malesuada sit amet arcu at, sagittis ullamcorper arcu.

            Nunc sit amet velit mi. Nam placerat est metus, quis rhoncus leo suscipit non. Mauris luctus tellus sed nulla feugiat, ut aliquam libero tincidunt. Quisque in purus at mi faucibus mattis vitae vulputate arcu. Curabitur bibendum libero lectus, a tristique sapien bibendum vel. Pellentesque commodo cursus lectus, non viverra libero elementum in. In tincidunt placerat aliquet. Nam laoreet non lectus at dictum. Aenean feugiat ultricies nibh vitae facilisis. Curabitur id condimentum eros. Fusce dapibus nec velit at mollis.

            Phasellus posuere, arcu non tincidunt lacinia, purus lectus pellentesque turpis, at eleifend ligula neque et nisi. Etiam vitae urna luctus urna blandit auctor id eget purus. Nulla sodales hendrerit ante nec gravida. Curabitur lacinia enim sed bibendum sodales. Mauris vel sem vel sem pharetra fringilla in sed elit. Etiam varius molestie urna vel blandit. Nullam non ultricies lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a elit nec ex tincidunt iaculis. Integer luctus tortor id mauris lacinia, nec euismod est vulputate. Vestibulum blandit feugiat condimentum. Curabitur ac nulla faucibus, varius nulla a, tempor sapien. Aliquam rhoncus vestibulum libero non egestas. Vivamus dapibus enim sit amet dapibus fermentum. Etiam sit amet magna vitae nulla scelerisque facilisis ac a est. Suspendisse pretium, lacus vitae luctus bibendum, lorem nunc commodo justo, non auctor eros urna imperdiet tellus.

            Nulla non facilisis orci. Nullam et accumsan nunc. Sed quam felis, imperdiet sit amet blandit eget, cursus non libero. Nunc sit amet fringilla urna. Vestibulum eu ex tempor, faucibus sem pretium, mattis eros. In non sem vitae dolor blandit consequat vitae eu neque. Sed bibendum neque nec interdum lobortis. Cras ac cursus ipsum, dignissim pretium diam. Nunc at metus at est consectetur cursus. Nullam est sapien, lacinia consectetur condimentum et, vulputate vel arcu. Aenean ut tristique ipsum. Vestibulum sit amet purus quis libero viverra feugiat. Aliquam elit elit, ullamcorper id commodo et, efficitur vitae ex. Donec in odio arcu.

            Phasellus ornare accumsan nunc, in gravida velit dictum non. Donec sit amet dignissim lacus. Morbi molestie sed massa consectetur dapibus. Ut ornare quis quam aliquam pulvinar. Donec vulputate dolor id justo ornare fermentum. Mauris bibendum turpis elementum sagittis semper. Sed iaculis risus sed auctor accumsan. Integer hendrerit justo eget sapien varius, et pellentesque est fermentum. Phasellus at feugiat justo, sed blandit erat. Nulla feugiat condimentum nisi, vitae aliquam orci consequat sit amet. Etiam gravida lacus orci, sed scelerisque velit pretium vitae. Suspendisse et volutpat nunc, ullamcorper lobortis odio. Phasellus ante eros, feugiat tempus dapibus vel, sodales non mauris. Pellentesque lobortis risus a neque iaculis, non aliquam eros sodales. Mauris nibh lorem, hendrerit ac facilisis in, elementum vitae sapien. Pellentesque quis libero eu felis imperdiet consectetur in commodo enim.

        </div>
        <div id="analyse">
            analyse her
        </div>
        <div id="quizbox">
            <h1>Dette er en quiz xDDDDDDDDD :3</h1>
        <div id='quiz'></div>
            <a href='#'><div class='button' id='next'>Næste</div></a>
            <a href='#'><div class='button' id='prev'>Tilbage</div></a>
            <a href='#'><div class='button' id='start'>Genstart</div></a>
        </div>
    </section>
</body>
</html>