{% extends "base.html" %}
{% block content %}
    <section class="arrow_box_normal">
        
    {% macro list_forms(name, tag_name) %}
    <form action="adminadd" method="post" name="{{ tag_name }}">
    <ul> {{ name }}
        {% for f_name, f in varargs %}
        <li><span>{{ f_name }}:</span> {{ f }}</li>
        {% endfor %}
        <li><button type="submit">Submit {{ name }}</button></li>
    </ul>
    </form>
    {% endmacro %}
        
<div class="grouplist">
    <!-- Project -->
    
    
    <!-- Project Type -->
    
    <!-- Category -->
    
</div>
        
    </section>
{% endblock %}