{% extends "base.html" %} {% block content %}
<section>
    <div class="group">
        <span class="group-title">Gymnasium
                               <div class="props">
                    <span class="admin-prop">New Year</span>
    </div>
    </span>
    <ul class="edu-year">
        <span class="year-title">1.G
                                   <div class="props">
                    <span class="admin-prop">New Project</span>
        </div>
        </span>
        <li>
            <span class="project-title">Title</span>
            <div class="edu-date">21/02-2016</div>
        </li>
    </ul>
    <ul class="edu-year">
        <span class="year-title">2.G</span>
        <li>
            <span class="project-title">Title</span>
            <div class="edu-date">21/02-2016</div>
        </li>
    </ul>
    </div>
</section>
{% endblock %}