{% extends "base.html" %} {% block content %}
<section>
    <div class="group">
        <span class="group-title">Gymnasium
                               <div class="props">
            {% if g.user.is_authenticated %}
                    <a href="/projectadd"><span class="admin-prop">New Project</span></a>
            {% endif %}
    </div>
    </span>
        <ul class="edu-year">
            <span class="year-title">
                1.G
                <div class="props">
                </div>
            </span>
            {% for p in projects['gym']['1g'] %}
            <li>
                <a href="/project/{{ p.type_id }}/{{ p.id }}">
                    <span class="project-title">{{ p.name }}</span>
                    <div class="edu-date">{{ p.date_started }}</div>
                </a>
            </li>
            {% endfor %}
        </ul>
    <ul class="edu-year">
        <span class="year-title">2.G</span>
        {% for p in projects['gym']['2g'] %}
        <li>
            <a href="/project/{{ p.type_id }}/{{ p.id }}">
                <span class="project-title">{{ p.name }}</span>
                <div class="edu-date">{{ p.date_started }}</div>
            </a>
        </li>
        {% endfor %}
    </ul>
        <ul class="edu-year">
            <span class="year-title">3.G</span>
            {% for p in projects['gym']['3g'] %}
            <li>
                <a href="/project/{{ p.type_id }}/{{ p.id }}">
                    <span class="project-title">{{ p.name }}</span>
                    <div class="edu-date">{{ p.date_started }}</div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}