{% extends "base.html" %}
{% block content %}
    <section class="arrow_box">
        <div class="grouplist">
            <span class="groupname">Gists</span>
            <div>
            </div>
            <span class="groupname">Repositories</span>
            <ul class="github_repo">
            {% for project in projects %}
                <li>
                    <h3>{{ project.name }}</h3>
                    <p>{{ project.description }}</p>
                    <div class="simple_button_right">
                       <button id="submit" name="submit" type="submit" value="posts">Show Posts</button>
                        <button id="submit" name="submit" type="submit" value="posts">Show on Github</button>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}