{% extends "base.html" %}
{% block content %}
<section class="arrow_box">
    <ul class="project_detail">
        {% for project in projects %}
        <li>
            <img src="{{ project.cover }}">
            <div class="project_info">
                <h2>{{ project.name }}</h2>
                <p> {{ project.description }} </p>
            </div>
            <span><i>{{ project.date_started }} ➜ {{ project.date_finished }}</i></span>
            <button id="submit" name="submit" type="submit" value="posts">Show Posts</button>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}