{% extends "base.html" %}
{% block content %}
    <div class="arrow_box">
        
    <div class="grouplist">
    {% macro grouped_project_list(project_type) %}
        <span class="groupname">{{ project_type.name }}</span>
        <div>
            {% for project in project_type.projects %}
                <div class="box"><a href="/project/{{ project.type.id }}/{{ project.id }}">
                <img src="{{ project.cover }}">
                <span class="text-box">{{ project.name }}</span>
                </a></div>
            {% endfor %}
        </div>
    
    {% endmacro %}
           
    {% for project_type in project_types %}
        {{ grouped_project_list(project_type) }}
    {% endfor %}
    
    </div>
    </div>
{% endblock %}