{% extends "base.html" %}
{% block content %}
    <div class="arrow_box">
    <div class="box"><a href="#">
    <img src="../static/images/no-image.png">
    <span class="text-box">Github</span>
    </a></div>
    <div class="box"><a href="#">
    <img src="../static/images/no-image.png">
    <span class="text-box">Gymnasium</span>
    </a></div>
    <div class="box"><a href="#">
    <img src="../static/images/euler.png">
    <span class="text-box">Project Euler</span>
    </a></div>
    </div>
{% endblock %}