{% extends "base.html" %}
{% block content %}
    <section class="arrow_box">
        <div class="center">
{% with messages = get_flashed_messages(category_filter=["error"]) %}
  {% if messages %}
    {% for message in messages %}
      <div class="flash_box_error">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}
  <form action="" method=post>
    {{ login_form.hidden_tag() }}
    <div>
    {{ login_form.name }}
    </div>
    <div>
    {{ login_form.password }}
    </div>
    <div>
    {{ login_form.submit }}
    </div>
  </form>
        </div>
    </section>
{% endblock %}