{% extends "base.html" %} {% block content %}
<section>
    <div id="project" class="new-form-d">
        <form class="new-project" action="" method=post>
            <ul>
                <li>{{ project_form.hidden_tag() }}</li>
                <li>
                    {{ project_form.project_image.label }}:
                    <span>{{ project_form.project_image }}</span>
                </li>
                <li>
                    {{ project_form.project_start.label }}:
                    <span>{{ project_form.project_start }}</span>
                    {{ project_form.project_type.label }}:
                    <span>{{ project_form.project_type }}</span>
                </li>
                <li>{{ project_form.title }}</li>
                <li>{{ project_form.body }}</li>
                <li>{{ project_form.tag }}</li>
                <li>{{ project_form.submit }}</li>
            </ul>
        </form>
    </div>
</section>
{% endblock %}