{% extends "base.html" %} {% block content %}
<section>
    <div class="p-meta">
        <span>
            Posted:
            <ul class="tags">
                    <li>01. Feb 2016</li>
                </ul>
            </span>
        <span>
            Project:
            <ul class="tags">
                    <li>My Project</li>
                </ul>
            </span>
        <span>
            Tags:
            <ul class="tags">
                    <li>C++</li>
                    <li>Python</li>
                </ul>
        </span>
    </div>
    <div class="post-text">
        this is a descriptionthis is a descriptionthis is a descriptionthis is a descriptionthis is a descriptionthis is a description
        this is a descriptionthis is a descriptionthis is a descriptionthis is a descriptionthis is a descriptionthis is
        a descriptionthis is a descriptionthis is a description this is a descriptionthis is a descriptionthis is a descriptionthis
        is a descriptionthis is a descriptionthis is a descriptionthis is a descriptionthis is a descriptionthis is a descriptionthis
        is a description this is a descriptionthis is a descriptionthis is a descriptionthis is a descriptionthis is a descriptionthis
        is a description
    </div>
    <div class="group">
        <span class="group-title">Related</span>
    </div>
</section>
{% endblock %}