{% extends "base.html" %} {% block content %}
<section>
    {% if g.user.is_authenticated %}
    <a class="button" href="/postadd">New Post</a>
    {% endif %}

    <ul class="posts">
        <li>
            <a href="post">
                <span class="post-title">Post Title
                <div class="props">
                    1/2-2016
                    </div>
            </span>
                <div class="post-text">Post description here......</div>
            </a>
            <div class="post-meta">
                <ul class="tags">
                    <li>2. Feb. 2016</li>
                    <li>Python</li>
                </ul>
                <span class="post-origin">Posted in <a href="#">hello</a> project</span>
            </div>
        </li>
        <li>
            <a href="post">
                <span class="post-title">Post Title
                <div class="props">
                    1/2-2016
                </div>
                </span>
                <div class="post-text">Post description here......</div>
            </a>
            <div class="post-meta">
                <ul class="tags">
                    <li>2. Feb. 2016</li>
                    <li>Python</li>
                </ul>
                <span class="post-origin">Posted in <a href="#">hello</a> project</span>
            </div>
        </li>
    </ul>
    <div class="group">
        <span class="group-title">Archive</span>
    </div>
</section>
{% endblock %}