{% extends "base.html" %} {% block content %}
<section>
    <ul class="posts">
        <li>
            <span>Post Title</span>
            <div>Post description here......</div>
            <ul class="tags">
                <li>2. Feb. 2016</li>
                <li>Python</li>
            </ul>
        </li>
        <li>
            <span>Post Title</span>
            <div>Post description here......</div>
            <ul class="tags">
                <li>2. Feb. 2016</li>
                <li>Python</li>
            </ul>
        </li>
    </ul>
    <div class="group">
        <span class="group-title">Archive</span>
    </div>
</section>
{% endblock %}