{% extends "base.html" %} {% block content %}
<section>
    <div class="p-meta">
        <span>
            Project Start:
            <ul class="tags">
                    <li>01. Feb 2016</li>
                </ul>
            </span>
        <span>
            Project Type:
            <ul class="tags">
                    <li>Personal</li>
                </ul>
            </span>
        <span>
            Tags:
            <ul class="tags">
                    <li>C++</li>
                    <li>Python</li>
                </ul>
        </span>
    </div>
    <div class="project-source">
        <button>
            View on Github
            </button>
        </div>
    <div class="project-descr">
        this is a descriptionthis is a descriptionthis is a descriptionthis is a descriptionthis is a descriptionthis is a description
        this is a descriptionthis is a descriptionthis is a descriptionthis is a descriptionthis is a descriptionthis is
        a descriptionthis is a descriptionthis is a description this is a descriptionthis is a descriptionthis is a descriptionthis
        is a descriptionthis is a descriptionthis is a descriptionthis is a descriptionthis is a descriptionthis is a descriptionthis
        is a description this is a descriptionthis is a descriptionthis is a descriptionthis is a descriptionthis is a descriptionthis
        is a description
    </div>
    <div class="group">
        <span class="group-title">Posts</span>
    </div>
</section>
{% endblock %}