{% extends "base.html" %}
{% block content %}
    <section>
        <div class="group">
            <span class="group-title">
                Personal Projects 
                <div class="props">
                    <span class="admin-prop">New Project</span>
                    <span class="admin-prop">New Project</span>
                    </div>
                    </span>
            <ul class="pproject">
                    <a href="project">
                <li>
                    <span class="project-title">Title</span>
                    <div class="progress"><span style="width: 25%">25%</span></div>
                    </li>
                    </a>
                     <a href="project">
                <li>
                    <span class="project-title">Title</span>
                    <div class="progress"><span style="width: 25%">25%</span></div>
                    </li>
                    </a>
                    
            <!--{% for project in projects %}
                <li class="main_color">
                    <h3>{{ project.name }}</h3>
                    <p>{{ project.description }}</p>
                    <div class="simple_button_right">
                       <button id="submit" name="submit" type="submit" value="posts">Show Posts</button>
                        <button id="submit" name="submit" type="submit" value="posts">Show on Github</button>
                    </div>
                </li>
            {% endfor %}-->
            </ul>
        </div>
        
        <div class="group">
            <span class="group-title">Repositories
                <div class="props">
                    12/02-2006
                    </div>
            </span>
            <ul class="gprojects">
                <li>
                    <span class="project-title">Title</span>
                    <img></img>
                    <div>description heredescription heredescription heredescription here
                        description heredescription heredescription heredescription heredescription heredescription heredescription heredescription heredescription heredescription heredescription heredescription here
                        description heredescription heredescription heredescription heredescription heredescription here
                        description heredescription heredescription heredescription heredescription heredescription heredescription here
                    </div>
                </li>
            </ul>
        </div>
        
    </section>
{% endblock %}