{% extends "base.html" %} {% block content %}
<section>
    <div class="p-meta">
        <span>
            Project Start:
            <ul class="tags">
                    <li>01. Feb 2016</li>
                </ul>
            </span>
        <span>
            Project Type:
            <ul class="tags">
                    <li>{{ project.type.name }}</li>
                </ul>
            </span>
        <span>
            Tags:
            <ul id="project-tags" class="tags">
                {% for t in project.tags %}
                    <li>{{ t.name }}</li>
                {% endfor %}
                </ul>
        </span>
    </div>

    {% if project.extra %}
    <div class="project-source">
        <a class="button" href="{{ project.extra }}" target="_blank">
            {% if project.type.name == 'Github' %}
            View on Github
            {% else %}
            Show product
            {% endif %}
            </a>
    </div>
    {% endif %}
    <div class="project-descr">
        this is a descriptionthis is a descriptionthis is a descriptionthis is a descriptionthis is a descriptionthis is a description
        this is a descriptionthis is a descriptionthis is a descriptionthis is a descriptionthis is a descriptionthis is
        a descriptionthis is a descriptionthis is a description this is a descriptionthis is a descriptionthis is a descriptionthis
        is a descriptionthis is a descriptionthis is a descriptionthis is a descriptionthis is a descriptionthis is a descriptionthis
        is a description this is a descriptionthis is a descriptionthis is a descriptionthis is a descriptionthis is a descriptionthis
        is a description
    </div>

    {% if not project.type.name in ['Gymnasium', 'University'] %}
    <div class="group">
        <span class="group-title">Posts</span>
        {% if g.user.is_authenticated %}
            <button id="new-post" class="new-post">New Post</button>

        <div id="post" class="new-form-d">
        <form class="new-post" action="" method=post>
            <ul>
                <li>{{ post_form.hidden_tag() }}</li>
                <li>{{ post_form.title }}</li>
                <li>{{ post_form.body }}</li>
                <li>{{ post_form.tag }}</li>
                <li>{{ post_form.submit }}</li>
            </ul>
        </form>
    </div>
        {% endif %}

    <ul class="posts">
        <li>
            <a href="post">
                <span class="post-title">Post Title
                <div class="props">
                    1/2-2016
                    </div>
            </span>
                <div class="post-text">Post description here......</div>
            </a>
            <div class="post-meta">
                <ul class="tags">
                    <li>2. Feb. 2016</li>
                    <li>Python</li>
                </ul>
                <span class="post-origin">Posted in <a href="#">hello</a> project</span>
            </div>
        </li>
        <li>
            <a href="post">
                <span class="post-title">Post Title
                <div class="props">
                    1/2-2016
                </div>
                </span>
                <div class="post-text">Post description here......</div>
            </a>
            <div class="post-meta">
                <ul class="tags">
                    <li>2. Feb. 2016</li>
                    <li>Python</li>
                </ul>
                <span class="post-origin">Posted in <a href="#">hello</a> project</span>
            </div>
        </li>
    </ul>
    </div>
    {% endif %}
</section>
{% endblock %}