{% extends "base.html" %} {% block content %}
<section>
    <div class="group">
        <span class="group-title">Gists
        </span>
        <ul class="gists">
            <li>
                <span class="gist-title">test</span>
                <ul class="tags">
                    <li>2. Feb. 2016</li>
                    <li>Python</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="group">
        <span class="group-title">Books
                        <div class="props">
          {% if g.user.is_authenticated %}
                    <span id="new-book" class="admin-prop">New Book</span> {% endif %}
    </div>
    </span>
    {% if g.user.is_authenticated %}
    <div id="book" class="new-form-d">
        <form class="new-book" action="" method=post>
            <ul>
                <li>{{ book_form.hidden_tag() }}</li>
                <li>{{ book_form.book_image.label }}: <span> {{ book_form.book_image }}</span></li>
                <li>{{ book_form.title }}</li>
                <li>{{ book_form.book_start.label }}: <span>{{ book_form.book_start }} </span>
                    {{ book_form.book_end.label }}: <span>{{ book_form.book_end }} </span>
                </li>
                <li>{{ book_form.submit }}</li>
            </ul>
        </form>
    </div>
    {% endif %}
    <ul class="pproject">
        <li>
            <div class="book">
                <img src="static/images/euler.png">
                <div class="book-info">
                    <span>TitleTitle</span>
                    <span class="date1">2/9-2016</span>
                    <span class="date2">2/9-2016</span>
                </div>
            </div>
            <div class="progress"><span style="width: 25%">25%</span></div>
        </li>
    </ul>
    </div>

</section>
{% endblock %}