{% extends "base.html" %} {% block content %}
<section>
    <div class="group">
        <span class="group-title">Gists
        </span>
        <ul class="gists">
            <li>
                <span class="gist-title">test
                    <div class="props">
                {% if g.user.is_authenticated %}
                    <span class="admin-prop edit-gist">Edit</span>
                    {% endif %}
                </div>
                </span>
                <ul class="tags">
                    <li>2. Feb. 2016</li>
                    <li>Python</li>
                </ul>
                {% if g.user.is_authenticated %}
                   <form class="gist-form">
              {{ gist_form.tag }}
               <button id="gist-submit" name="submit" type="submit" value="Submit">Submit</button>
                    </form>
                    {% endif %}
            </li>
        </ul>
    </div>
    <div class="group">
        <span class="group-title">Books
                        <div class="props">
          {% if g.user.is_authenticated %}
                    <span id="new-book" class="admin-prop">New Book</span> {% endif %}
    </div>
    </span>
    {% if g.user.is_authenticated %}
    <div id="book" class="new-form-d">
        <form class="new-book" action="" method=post>
            <ul>
                <li>{{ book_form.hidden_tag() }}</li>
                <li>{{ book_form.book_image.label }}: <span> {{ book_form.book_image }}</span>
                {{ book_form.pages.label }}: <span>{{ book_form.pages }} </span></li>
                <li>{{ book_form.title }}</li>
                <li>{{ book_form.submit }}</li>
            </ul>
        </form>
    </div>
    {% endif %}
    <ul class="pproject books">
        <li>

            <div class="book">
                <img src="static/images/euler.png"> TitleTitleTitleTitle TitleTitleTitleTitle TitleTitleTitleTitle
            </div>
            <div class="progress book-progress"><span style="width: 25%">25%</span></div>
            {% if g.user.is_authenticated %}
            <div class="admin-book">
                <div class="props">
                    <span id="book-prog-down" class="admin-prop">-</span>
                    <form class="book-form" action="" method="POST">
                        <input class="book-input">
                        </input>/500
                    </form>
                    <span id="book-prog-up" class="admin-prop">+</span>
                    <span class="admin-prop edit-book">Edit</span>
                </div>

                <form class="book-edit" action="" method="POST">
                {{ book_form.hidden_tag() }}
                {{ book_form.book_image }}
                {{ book_form.title }}
                {{ book_form.pages.label }}:{{ book_form.pages }}
               {{ book_form.submit }}
                </form>

            </div>
            {% endif %}
        </li>
    </ul>
    </div>

</section>
{% endblock %}